/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
public/js/bower_components
public/js/node_modules
/nbproject/private/
/nbproject
public/js/.sass-cache/
public/js/custom/compressed/
*.map
*.css
