/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
public/js/bower_components
public/js/node_modules
*.min.css.map
*.min.js
*.min.css
public/js/.sass-cache/
/nbproject/private/
/nbproject
/public/js/custom/compressed/*