# dir sass-cache
#################################
public/js/.sass-cache/
# all compressed js files
#################################
public/js/custom/compressed/
# all map files
#################################
*.map
# all css files
#################################
*.css
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
public/js/bower_components
public/js/node_modules
/nbproject/private/
/nbproject
